<div class="about-me">
    <mat-card style="    font-style: italic;">
      <p>&#8221;
      UI Developer with 4.5 years of experience leading website projects, including gathering user requirements, producing code, creating mockups and enhancing designs. Efficient problem solver with skills in teamwork, delivering projects on time, focused on creating clean, robust code with exceptional security and a firm believer in the mobile-first approach. 
        </p>
      <br>
      <p>Use various web design packages to develop custom-crafted, customer-focused websites and designs. Committed to high standards of user experience, usability and accessibility for multiple users.&#8221;
      </p>
    </mat-card>
  </div>
  <mat-card style="margin-top: 8px;">
    Skills
    <ul>
        <li style="display: flex; align-items: center; justify-content: space-between;">
Web application development <div style="display:flex; align-items:center"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon> <p style="margin-left: 8px;
    margin-bottom: 0px;">5.0</p></div> </li><li style="display: flex; align-items: center;justify-content:space-between;">
AngularJS <div style="display:flex; align-items:center"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><p style="margin-left: 8px;
    margin-bottom: 0px;">4.5</p></div></li><li style="display: flex; align-items: center;justify-content:space-between;">
HTML/CSS<div style="display:flex; align-items:center"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><p style="margin-left: 8px;
    margin-bottom: 0px;">4.0</p></div></li>
<li style="display: flex; align-items: center;justify-content:space-between;">Typescript / Javascript <div style="display:flex; align-items:center"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_outline</mat-icon><p style="margin-left: 8px;
    margin-bottom: 0px;">4.5</p></div></li>
<li style="display: flex; align-items: center;justify-content:space-between;">
            
    Mobile application development <div style="display:flex; align-items:center"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_outline</mat-icon><mat-icon>star_outline</mat-icon><p style="margin-left: 8px;
    margin-bottom: 0px;">3.0</p></div></li>    
</ul>
  </mat-card>
  
  <!-- <mat-card class="skill-section">
    Skills
  </mat-card>
  
  <div class="projects-section">
    <mat-card class="project-description"></mat-card>
    <mat-card class="project-description"></mat-card>
    <mat-card class="project-description"></mat-card>
  </div>
  <div class="awards-section">
    <mat-card class="awards-container"></mat-card>
    <mat-card class="awards-container"></mat-card>
    <mat-card class="awards-container"></mat-card>
    
  </div> -->