<div class="about-me">
    <mat-card style="    font-style: italic;">
      <p>&#8221;
      UI Developer with 4.5 years of experience leading website projects, including gathering user requirements, producing code, creating mockups and enhancing designs. Efficient problem solver with skills in teamwork, delivering projects on time, focused on creating clean, robust code with exceptional security and a firm believer in the mobile-first approach. 
        </p>
      <br>
      <p>Use various web design packages to develop custom-crafted, customer-focused websites and designs. Committed to high standards of user experience, usability and accessibility for multiple users.&#8221;
      </p>
    </mat-card>
  </div>
  <mat-card class="skills-tag">
    <div class="skill-tag-card">
      <div style="display: flex; flex-direction: column;max-width: 42%;align-items: center;">
        <div class="hexagon"><span class="icon_text"><mat-icon class="big_icon">speed</mat-icon></span></div>
        <span class="mat-title" style="margin-top: 30px; margin-bottom: 2px;">Fast</span>
      <span style="text-align: justify;
    text-justify: inter-word;">
        Fast load times and lag free interaction, my highest
        priority.
      </span>
      </div>
      <div style="display: flex; flex-direction: column;max-width: 42%;align-items: center;">
        <div class="hexagon"><span class="icon_text"><mat-icon class="big_icon">devices</mat-icon></span></div>
        <span class="mat-title" style="margin-top: 30px; margin-bottom: 2px;">Responsive</span>
      <span style="text-align: justify;
    text-justify: inter-word;">Strong preference for easy to use, intuitive UX/UI.</span>
      </div>
    </div>
    <div class="skill-tag-card">
      <div style="display: flex; flex-direction: column;max-width: 42%;align-items: center;">
        <div class="hexagon"><span class="icon_text"><mat-icon class="big_icon">emoji_objects</mat-icon></span></div>
        <span class="mat-title" style="margin-top: 30px; margin-bottom: 2px;">Intuitive</span>
        <span style="text-align: justify;
    text-justify: inter-word;">My layouts will work on any device, big or small. </span>
      </div>
      <div style="display: flex; flex-direction: column;max-width: 42%;align-items: center;">
        <div class="hexagon"><span class="icon_text"><mat-icon class="big_icon">dynamic_form</mat-icon></span></div>
        <span class="mat-title" style="margin-top: 30px; margin-bottom: 2px;">Dynamic</span>
        <span style="text-align: justify;
    text-justify: inter-word;">Websites don't have to be static, I love making pages lively.
        </span>
      </div>
    </div>
    
    
    

  </mat-card>
  
  <!-- <mat-card class="skill-section">
    Skills
  </mat-card>
  
  <div class="projects-section">
    <mat-card class="project-description"></mat-card>
    <mat-card class="project-description"></mat-card>
    <mat-card class="project-description"></mat-card>
  </div>
  <div class="awards-section">
    <mat-card class="awards-container"></mat-card>
    <mat-card class="awards-container"></mat-card>
    <mat-card class="awards-container"></mat-card>
    
  </div> -->