<div class="about-section">
    
    <mat-card class="about-main">
      Key Skills
      <ul>
        <li> UI technologies and
          frameworks like Angular JS,
          NodeJS, ExpressJS, Typescript,
          Javascript, JQuery, Bootstrap,
          CSS, HTML</li>
          <li>OOPS concepts</li>
          <li>Analytical user of GIT version
            control implementation</li>
          <li>Clear and concise writer of
            development documentation</li>
          <li>Agile/Scrum process
            methodology</li>
          <li>Experienced in Android SDK
            and its design patterns</li>
      </ul>


    </mat-card>
    <mat-card class="about-main" style="margin-top: 8px;">
        <p class="mat-title">Work Experience</p>
        <p class="mat-subheading-1">Infosys Limited</p>

        <p class="mat-subheading-2">Technology Analyst </p>

        <ul>
          <li>Designed UI widgets within frontend web framework to shorten development time supporting JSON structure.</li><li>
            Communicated with clients, product managers to translate project requirements and business objectives into polished user interfaces.</li><li>
            Evaluated user research to convert abstract ideas of moderated blogs into picture by providing social Forums</li><li>
            Collaborated with UI team to implement UI features complying with prescribed code and accessibility standards and technical design guidelines.</li><li>
            Analyzed existing interfaces to detect user pain points, and enhanced those designs to make it user friendly</li><li>
            Collaborated with Leads to deliver valuable features meeting business and customer needs.</li>
        </ul>
        <hr>
        <p class="mat-subheading-2">Senior Software Engineer</p>
        <ul>
                      
<li>
  Improved and expanded project platforms using Angular to develop rich User Interfaces.</li><li>
  Trained and supervised a team for ongoing client projects.</li><li>
  Contributed for creating reverse proxy according to client side requirements</li><li>
  Multi-tasked across multiple focuses to generate project results and meet deadlines and organizational expectations.</li><li>
  Produced design prototypes to enhance user experiences and improve site interactions.</li>
        </ul>
        <hr>

        <p class="mat-subheading-2">Software Engineer</p>
        <ul>
<li>
Provided ongoing efficiency and security maintenance and patching on website interface to maintain viability after launch.</li><li>
Designed and executed security measures such as encryption for the downloaded contents</li><li>
Collected, defined and translated user requirements of authoring tool into project designs and implementation plans and finally a website for the same.</li>
          
        </ul>
  
  
      </mat-card>
  </div>