<div class="page-container">
  <div class="header-container">
    <mat-card class="header-box">
      <mat-card class="round-image">
        <img src="/assets/my_image.jpg" width="100px" alt="my image"  />
      </mat-card>
      
      <div class="linkedin-url">
        <span class="mat-title">Akansha Goyal</span>
        <p class="mat-subheading-1">Web Developer</p>
        <button mat-button class="linkedin-button">LINKED IN</button>
      </div>
      <div class="phone-details">
        <div style="display: flex;"><mat-icon>call</mat-icon> 9540110721</div>
        <div style="display: flex;"><mat-icon>mail_outline</mat-icon> goelakansha006@gmail.com</div>
      </div>
    </mat-card>
    
  </div>

  

  <div class="my-section">
    <mat-card class="abouts-section">
      <mat-icon style="margin-top: 8px; cursor: pointer;" routerLink = "/about">person_outline</mat-icon>
      <p>About</p>
      <mat-icon style="margin-top: 8px; cursor: pointer;" routerLink="/experience">work</mat-icon>
      <p>Work</p>
      <mat-icon style="margin-top: 8px; cursor: pointer;" routerLink="/awards">military_tech</mat-icon>
      <p>Awards</p>
      <mat-icon style="margin-top: 8px; cursor: pointer;">insert_drive_file</mat-icon>
      <p>Resume</p>
    </mat-card>
    <div class="main-section">
      <router-outlet></router-outlet>
    </div>
  </div>




  
  


 

 

</div>

<!-- <div class="header-container">
    
  <div class="linkedin-url">
    <span class="mat-title">Akansha Goyal</span>
    <p class="mat-subheading-1">Web Developer</p>
    <button mat-button class="linkedin-button">LINKED IN</button>
  </div>
</div> -->