
<mat-card id="timeline-experience" >

    <!-- FIRST TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="17" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2020</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="18" style="; visibility: visible;   ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">AGM Event</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Created Discussion Board for Stakeholders
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <div style="display: flex;">
                    <p>
                        Got appraisal from ETA head for interactive discussion board in tight schedule
                    </p>
                </div>
               
               
            </div>
        </div>
    </div>

    <!-- SECOND TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="19" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2019</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="20" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">Internal Apps Event</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Wingspan Grand Launch
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                   COO appraisal mail for contributing in Wingspan App.
                </p>

            </div>
        </div>
    </div>

    <!-- THIRD TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="21" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2018</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="22" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">AFE Awards</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Internal Customer Delight
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                    Awarded AFE for showing extra ordinary efforts while working for LEX app.
                </p>

            </div>
        </div>
    </div>

    <!-- FOURTH TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="23" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2017</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="24" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">Insta Award</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        My Ninja App
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                    Awarded Insta Award for creating My Ninja app single handedly.
                </p>
                
            </div>
        </div>
    </div>
</mat-card>

<mat-card style="margin-top: 8px;">
    <div style="

overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* height: 100%; */
    /* height: 250px; */
    flex-wrap: nowrap;
    display: flex;
    align-items: stretch;
    
    ">
      
          <mat-card style="padding: 8px;
          border: 1px #eec4c3 solid;
         position: relative;
          min-width: 150px;
          margin: 8px;
          justify-content: center;
          display: flex;
          height: 100px;
          margin-top: 50px;"
          >
              <img height="80px" style="    position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 10%);
              border-radius: 10%;" src="assets/certi_1.jpg"/>
              <div style="    position: absolute;
              top: 30%;">
                  <div style="font-size: larger; font-weight: bold;margin-bottom: 4px;">HTML 5</div>
                  <div style="font-weight: lighter; font-size: medium;">By Code Carona</div>
              </div>
              
          
      </mat-card>

      <mat-card style="padding: 8px;
          
         
         border: 1px #eec4c3 solid;
          position: relative;
          min-width: 150px;
          margin: 8px;
          justify-content: center;
          display: flex;
          height: 100px;
          margin-top: 50px;">
              <img height="80px" style="    position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 10%);
              border-radius: 10%;" src="assets/certi_2.jpg"/>
              <div style="    position: absolute;
              top: 30%;">
                  <div style="font-size: larger; font-weight: bold;margin-bottom: 4px;">Award for Excellence</div>
                  <div style="font-weight: lighter; font-size: medium;">By Infosys</div>
              </div>
              
          
      </mat-card>

      <mat-card style="padding: 8px;
          
         
         border: 1px #eec4c3 solid;
          position: relative;
          min-width: 150px;
          margin: 8px;
          justify-content: center;
          display: flex;
          height: 100px;
          margin-top: 50px;">
              <img height="80px" style="    position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 10%);
              border-radius: 10%;" src="assets/certi_3.jpg"/>
              <div style="    position: absolute;
              top: 30%;">
                  <div style="font-size: larger; font-weight: bold;margin-bottom: 4px;">Insta Awards</div>
                  <div style="font-weight: lighter; font-size: medium;">By Infosys</div>
              </div>
              
          
      </mat-card>

      <mat-card style="padding: 8px;
          
         
         border: 1px #eec4c3 solid;
          position: relative;
          min-width: 150px;
          margin: 8px;
          justify-content: center;
          display: flex;
          height: 100px;
          margin-top: 50px;">
              <img height="80px" style="    position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 10%);
              border-radius: 10%;" src="assets/certi_4.png"/>
              <div style="    position: absolute;
              top: 30%;">
                  <div style="font-size: larger; font-weight: bold;margin-bottom: 4px;">Problem Solving</div>
                  <div style="font-weight: lighter; font-size: medium;">By Hacker Rank</div>
              </div>
              
          
      </mat-card>

      <mat-card style="padding: 8px;
          
         
         border: 1px #eec4c3 solid;
          position: relative;
          min-width: 150px;
          margin: 8px;
          justify-content: center;
          display: flex;
          height: 100px;
          margin-top: 50px;">
              <img height="80px" style="    position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 10%);
              border-radius: 10%;" src="assets/certi_5.png"/>
              <div style="    position: absolute;
              top: 30%;">
                  <div style="font-size: larger; font-weight: bold;margin-bottom: 4px;">Python</div>
                  <div style="font-weight: lighter; font-size: medium;">By Hacker Rank</div>
              </div>
              
          
      </mat-card>
      
      
      
  </div>
</mat-card>
