<mat-card id="timeline-experience">

    <!-- FIRST TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="17" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2020</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="18" style="; visibility: visible;   ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">AGM Event</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Created Discussion Board for Stakeholders
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                    Got appraisal from ETA head for interactive discussion board in tight schedule
                </p>
               
            </div>
        </div>
    </div>

    <!-- SECOND TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="19" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2019</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="20" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">Internal Apps Event</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Wingspan Grand Launch
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                   COO appraisal mail for contributing in Wingspan App.
                </p>

            </div>
        </div>
    </div>

    <!-- THIRD TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="21" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2018</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="22" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">AFE Awards</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        Internal Customer Delight
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                    Awarded AFE for showing extra ordinary efforts while working for LEX app.
                </p>

            </div>
        </div>
    </div>

    <!-- FOURTH TIMELINE -->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot" data-sr-id="23" style="; visibility: visible;   "><span style=" transform: translate(-50%, 50%); position: absolute;">2017</span></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content" data-sr-id="24" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease 0s, -webkit-transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">Insta Award</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        My Ninja App
                    </h6>
                    
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>
                    Awarded Insta Award for creating My Ninja app single handedly.
                </p>
                
            </div>
        </div>
    </div>
</mat-card>